
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-5" *ngIf="!reqExec ">
<button pButton   id="inptDet" type="button" *ngIf="affDet" (click)='afficher()'
 label="LANCER LA DETERMINATION DES CLIENTS DE TYPOLOGIE " ></button>
</div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5" Style="text-align: center;  font-size: 15px; background-color:  #b7d8b7 ;"*ngIf="!affDet">
        La Determination Du  Client Noyaux est lancer Veuillez vous patienter svp !
     </div>
    <div class="col-md-3"></div>
</div><br>


 <div class="row">
 <div class="col-md-4"></div>
 <div class="col-md-5"  Style ="  text-align: center; font-size: 15px; "*ngIf="reqExec">
    Execution Terminee Avec Succes .
 </div> 
 <div class="col-md-3"></div>
</div>

<p-overlayPanel #op appendTo="body" [dismissable]='false'  
[showCloseIcon]="true"
[style]="styleopPanel" >
<span style="width: 138%;"> {{msg}} </span>
</p-overlayPanel> 
