.e-headertext {
    font-size: 12px;
  }
  .e-grid .e-rowcell.customcss{
   
    font-size: 10px;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
  }


  .ng-select.ng-select-single ::ng-deep .ng-select-container {
    height: 30px;
    size: 12px;
  }
  .ng-select ::ng-deep .ng-select-container {
    min-height: 30px;
    size: 12px;
  }


  
  .row {
    font-size: 13px;
    margin-bottom: 5px;
  }