.center {
    position: center;
    margin-left: 42%;
    margin-top: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
html, body {
    height: 100%;
  }
  
  .full-height1 {
    height: 80vh;
  }