<div>
  &nbsp;
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md- auto">Journées du :</div>
    <div class="col-md-2">
      <p-calendar
        [(ngModel)]="dateDebut"
        [locale]="tn"
        [inputStyle]="{ width: '100%' }"
        dateFormat="dd/mm/yy"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="1980:2050"
      ></p-calendar>
    </div>
    <div class="col-md-auto" align="left">au :</div>
    <div class="col-md-2">
      <p-calendar
        [(ngModel)]="dateFin"
        [locale]="tn"
        [inputStyle]="{ width: '100%' }"
        dateFormat="dd/mm/yy"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="1980:2050"
      ></p-calendar>
    </div>
    <div class="col-md-3"></div>
  </div>
  &nbsp;
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-1">
      <button
        pButton
        id="apercu"
        type="button"
        label="Visualiser"
        (click)="imprimer(1, $event)"
      ></button>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<p-overlayPanel
  #ov
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
  [style]="styleOvPanel"
>
  <span> {{ msgs }} </span>
</p-overlayPanel>
