.legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: -0.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.ui-fieldset .ui-fieldset-legend-text {
    vertical-align: middle;
    font-size: 15px;
}

.e-headertext {
    font-size: 15px;
}
.e-grid .e-rowcell.customcss{
    font-size: 13px;
}