/*
.ui-inputtext {
    font-weight: bold;
    font-size: 15px;
    color: darkblue;
    margin-top: -2%;

}


input[_ngcontent-c13] {
    margin-left: -89px;
    width: 165%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    
}

.old br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
   
  }
 
  */
  .ui-inputtext {
    font-size: 12px;
    color: #333333;
    width: 150%;
    margin-left: -46%;
    background: #ffffff;
    padding: -12.571em;
    border: 1px solid #a6a6a6;
 
}

  .row {
    margin-bottom: -3px;
  }
  .col-md-2{
    flex: 1 0 16.666667%;
    max-width: 20.666667%;
}

