.mat-card-header .mat-card-title.titre{
  margin-left: -34px;
  margin-bottom: 49px;
}
.e-headertext {
  font-size: 17px;
}
.e-grid .e-rowcell.customcss{
 
  font-size: 16px;
}

.ng-select {
  font-size: 15px;
  width: 245px;
}

.ui-inputtext {
  font-size: 15px;
}
    


.row[_ngcontent-c6] {
  //font-weight: 600;
  font-size: 16px;
}
p-panel {
  width: 98%;
}







