<p-blockUI [blocked]="blockDocument"></p-blockUI>
<div class="row" [hidden]="disableNumOffre">
  <div class="col-md-1" style="font-weight: bold">Numéro :</div>
  <div class="col-md-1">
    <input
      id="numOffre"
      type="search"
      maxlength="5"
      size="6"
      pInputText
      pKeyFilter="pint"
      [(ngModel)]="numeroOffre"
      (keyup.enter)="validerNumOffre($event)"
      (keypress)="ov.hide()"
      [(ngModel)]="numeroOffre"
      [disabled]="blockDocument"
    />
  </div>
  <div class="col-md-10"></div>
</div>
<div [hidden]="!disableNumOffre">
  <p-panel header="OFFRE CLIENT">
    <div class="row">
      <div class="col-md-1" style="font-weight: bold">Numéro :</div>
      <div class="col-md-1">
        {{ numeroOffre }}
      </div>
      <div class="col-md-1" style="text-align: right; font-weight: bold">
        Date :
      </div>
      <div class="col-md-1">{{ enteteDevis.datDev }}</div>
      <div class="col-md-1"></div>
      <div class="col-md-2" style="font-weight: bold">Réf. Demande :</div>
      <div class="col-md-1">{{ enteteDevis.refDem }}</div>
      <div class="col-md-1" style="font-weight: bold">M. :</div>
      <div class="col-md-3">{{ enteteDevis.denoClient }}</div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2" style="font-weight: bold">Réf. Client :</div>
      <div class="col-md-1">{{ enteteDevis.ref }}</div>
      <div class="col-md-1" style="font-weight: bold">Adresse :</div>
      <div class="col-md-3">{{ enteteDevis.adresseClient }}</div>
    </div>
    <div class="row">
      <div class="col-md-1" style="font-weight: bold">Vendeur :</div>
      <div class="col-md-3">{{ enteteDevis.denoVendeur }}</div>
      <div class="col-md-1" style="text-align: right; font-weight: bold">
        Client :
      </div>
      <div class="col-md-3">{{ enteteDevis.denoClient }}</div>
      <div class="col-md-1" style="font-weight: bold">Ville :</div>
      <div class="col-md-3">{{ enteteDevis.villeClient }}</div>
    </div>
  </p-panel>
</div>
&nbsp;
<div [hidden]="!disableNumOffre">
  <p-panel header="DEVIS">
    <div class="row">
      <div class="col-md-2" style="font-weight: bold">A l'attention de</div>
      <div class="col-md-4">{{ enteteDevis.attention }}</div>
      <div class="col-md-4"></div>
      <div class="col-md-1" style="text-align: right; font-weight: bold">
        Envoyé le :
      </div>
      <div class="col-md-1">{{ enteteDevis.dateEnvoi }}</div>
    </div>
    <div>
      <ejs-grid
        #gridOffres
        [dataSource]="offres"
        gridLines="Both"
        height="260px"
        [rowHeight]="26"
        allowResizing= 'true'
      >
        <e-columns>
          <e-column field="code" headerText="Réference" width="100"></e-column>
          <e-column
            field="design"
            headerText="Designation"
            width="150"
          ></e-column>
          <e-column
            field="quantite"
            headerText="Quantité"
            width="50"
            textAlign="Right"
          ></e-column>
          <e-column
            field="prix"
            headerText="Prix HT"
            width="50"
            textAlign="Right"
          ></e-column>
          <e-column
            field="tauxTva"
            headerText="TVA"
            width="50"
            textAlign="Right"
          ></e-column>
          <e-column
            field="tRemise"
            headerText="Remise"
            width="50"
            textAlign="Right"
          ></e-column>
          <e-column
            field="dispon"
            headerText="Observation"
            width="100"
          ></e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6" style="font-weight: bold">
            Texte 'Bas de page' :
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ enteteDevis.basPage }}</div>
          <div class="col-md-6"></div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: right">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-3" style="font-weight: bold">Total Brut :</div>
          <div class="col-md-4">{{ enteteDevis.ht }}</div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-3" style="font-weight: bold">Remise :</div>
          <div class="col-md-4">{{ enteteDevis.remise }}</div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-3" style="font-weight: bold">Total T.T.C. :</div>
          <div class="col-md-4">{{ enteteDevis.net }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <button
          pButton
          type="button"
          label="Confirmer l'annulation"
          class="ui-button-raised"
          (click)="annulerOffre($event)"
        ></button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </p-panel>
</div>
<p-overlayPanel
  #ov
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
  [style]="styleOvPanel"
>
  <span> {{ msgs }} </span>
</p-overlayPanel>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '40vw' }"
></p-confirmDialog>
