.e-headertext {
    font-size: 12px;
  }
  .e-grid .e-rowcell.customcss{
   
    font-size: 10px;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
  }

  .row {
    font-size: 13px;
    margin-bottom: 5px;
  }