.e-headertext {
    font-size: 13px;
    text-align: center !important;
  }
  
  .e-grid .e-rowcell {
    font-size: 13px !important;
    padding: initial !important;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
  }
  .e-grid .e-gridheader tr th {
    padding-left: 0;
    padding-right: 0;
}