
.mat-form-field {
    font-size: 18px;
    width: 100%;
}

.saiseCard{
    width: 100%;
}
.titre{
    font-size: medium;
    height: 14px;
}

.rechercheCard{
    font-size: 18px;
}

.disableDiv{
    pointer-events:none;
}
.e-grid th{
    background-color:whitesmoke;
    color :black;
}
