  
  .ng-select.ng-select-single ::ng-deep .ng-select-container {
    height: 34px;
    width: 100%;
  
   
  }
  .ng-select ::ng-deep .ng-select-container {
    min-height: 34px;
    width: 100%;
   
  }