th {
  font-size: 12px;
}
.disableDiv {
  pointer-events: none;
}
.totaux{
  text-align: right;
}
.dateSys{
  color: red;
  font-weight: bold;
}
.topics tr { line-height: 14px; }
.ui-inputfield{
  padding: 5px !important;
}

.ui-button-text-icon-left .ui-button-text {
 padding: 5px !important;
}

.ui-button-text-only .ui-button-text {
 padding: 5px !important;
}