<br><br>
<div class="row">
 <div class="col-md-1" style="width: 100%; max-width: 5%;">du :</div>
 <div class="col-md-2">
   <p-calendar
    id="date1"
    [disabled]="readonly"
    [minDate]="minDate"
    [(ngModel)]="datedebut"
    dateFormat="dd/mm/yy"
    [monthNavigator]="true"
    [yearNavigator]="true"
    [locale]="tn"
    yearRange="2011:2999">
   </p-calendar>
 </div>
 <div class="col-md-1" style="width: 100%; max-width: 5%;"> au :</div>
 <div class="col-md-2">
  <p-calendar 
  id="date2"
  [disabled]="readonly"
  [minDate]="minDate"
  [(ngModel)]="datefin"
  dateFormat="dd/mm/yy"
  [monthNavigator]="true"
  [yearNavigator]="true"
  [locale]="tn"
  yearRange="2011:2999">
  </p-calendar>
 </div>
<div class="col-md-2">
 <button id="btn" clikcked="true"  pButton type="button" label="Visualiser" class="ui-button-raised" (click)="afficher($event)" >
</button>
</div>
<div class="col-md-4"></div>


</div>
<p-overlayPanel #op appendTo="body" [dismissable]='false'  [showCloseIcon]="true"  [style]="{'text-align': 'center', 'font-size':'14px' ,'background-color': ' #f8b7bd'}" >
  <span style="width: 138%;"> {{msg}} </span>
</p-overlayPanel> 