th {
    font-size: 12px;
}
.pRight {
    margin-top: 0%;
    margin-bottom: 0.2rem;
  }
td .ui-inputtext{
    font-size: 10px;
    max-width: max-content;
    width: 100%;
}


td {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 11px;
    text-decoration: none;
}
