.center {
    position: center;
    margin-left: 32%;
    margin-top: 7%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
p-calendar {
    margin-left: 5%;
}
p-button {
    margin-left: 12%;width: 160px;
}
textarea{
    overscroll-behavior: none;
  }
 
  