

.ng-select.custom {
    margin-top: 4px;

    border:0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-option{
    font-size: 13px;
  
}

.ui-button-secondary{
    width: 385px;
    margin-bottom:12px; 
}
.mb-20 {
    margin-bottom: 2px;
}

.e-grid th{
    background-color:whitesmoke;
    color :black;
  }


