p {
  margin-top: -1%;
  margin-bottom: -0.7rem;
}




 .e-grid th{
    background-color:whitesmoke;
    color :black;
  }

  .e-grid .e-rowcell {
    font-size: 13px !important;
    padding: initial !important;
  }
  .e-grid th{
  
    padding: 0!important;
  }
  
  .row {
      margin-bottom: -7px;
      font-size: 11px;
      font-weight: bold;
    }
    
  
  body .ui-widget {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8px;
    text-decoration: none;
  }
  
  
  
  
  
  
  
   .ui-radiobutton .ui-radiobutton-box {
      border: 1px solid #A6A6B8;
      background-color: #ffffff;
      width: 15px;
      height: 12px;
      text-align: center;
      position: relative;
      transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
      border-radius: 95%;
  }
  
  .ng-select.ng-select-single ::ng-deep .ng-select-container {
    height: 30px;
    width: 146%;
    margin-left: -38%;
   
  }
  .ng-select ::ng-deep .ng-select-container {
    min-height: 30px;
    width: 146%;
    margin-left: -38%;
  }
  body .ui-inputtext {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    padding: -0.571em;
    border: 1px solid #a6a6a6;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }