.e-headertext {
    font-size: 10px;
  }
  .e-grid .e-rowcell {
    font-size: 13px !important;
    padding: initial !important;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
  }