.e-headertext {
    font-size: 11px;
  }
  .e-grid .e-rowcell.customcss{
   
    font-size: 10px;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
  }

  p-panel {
   
    width: 97%;
  }

  

body .ui-widget {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 8px;
  text-decoration: none;
}
