.disablegrid {
    pointer-events: none;
    opacity: 0.4;
}
.wrapper {
    cursor: not-allowed;
}
   
.row {
font-size: 14px;
}
.disableDiv{
    pointer-events:none;
  }
  .mydialog {
    width: 50vw;
  }
  .entete{
    font-family: Fontil Sans, monospace;
    // font-weight: bold;
  }
  @media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
  }