<p-card class="cardContainer" #cardContainer>
  <div class="full-height">
    <p-blockUI class="ui-blockui" [blocked]="blocked"></p-blockUI>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">TUNIS, le {{ dat }}</div>
    </div>
    &nbsp;
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
    &nbsp;
    <p-progressSpinner class="center" *ngIf="blocked"></p-progressSpinner>
    <div class="row">
      <div class="col-md-1">Numero :</div>
      <div class="col-md-2">
        <input
          id="num"
          pKeyFilter="pint"
          type="search"
          maxlength="5"
          size="6"
          pInputText
          [(ngModel)]="numero"
          (keyup.enter)="verifier($event)"
          [disabled]="numDisabled"
          style="font-weight: bold"
        />
      </div>
      <div class="col-md-1">Date :</div>
      <div class="col-md-2">
        <p-calendar
          [(ngModel)]="date"
          dateFormat="dd/mm/yy"
          [monthNavigator]="true"
          [yearNavigator]="true"
          yearRange="1980:2050"
          showButtonBar="true"
          [locale]="tn"
          [disabled]="afficherClicked"
          [style]="{ width: '70%' }"
          [inputStyle]="{ width: '70%' }"
        ></p-calendar>
      </div>

      <div class="col-md-1">Client :</div>
      <div class="col-md-3">
        <ng-select
          id="client"
          [items]="clients"
          bindLabel="deno"
          [(ngModel)]="selectedClient"
          [disabled]="afficherClicked"
          (keyup.enter)="applyFilterClientParDeno($event.target.value)"
          [searchFn]="onSearchClient"
          style="width: 100%"
        >
        </ng-select>
      </div>
      <div class="col-md-2">
        <button
          color="primary"
          class="mat-raised-button mat-primary"
          ng-reflect-color="primary"
          (click)="afficher($event)"
        >
          Ok
        </button>
      </div>
    </div>
    &nbsp;
    <div>
      <p-panel *ngIf="gridVisible">
        <div class="row">
          <div class="col-md-10">
            <ejs-grid
              #gridFact
              id="gridFact"
              [dataSource]="factures"
              height="180"
              gridLines="Both"
              [editSettings]="editSettings"
              [rowHeight]="30"
              allowResizing= 'true'
            >
              <e-columns>
                <e-column
                  field="code"
                  headerText="CLIENT"
                  textAlign="Left"
                  width="85"
                >
                </e-column>
                <e-column
                  field="deno"
                  headerText="NOM DE CLIENT"
                  width="200"
                ></e-column>
                <e-column
                  field="combine"
                  headerText="Bon de Livraison"
                  textAlign="Left"
                  width="120"
                  *ngIf="!parCmd"
                ></e-column>
                <e-column
                  field="ref"
                  headerText="COMMANDE"
                  textAlign="Left"
                  width="120"
                  *ngIf="parCmd"
                ></e-column>
                <e-column
                  type="checkbox"
                  headerText="Calculer? (O/N)"
                  width="40"
                ></e-column>
              </e-columns>
            </ejs-grid>
          </div>
          <div class="col-md-2">
            <button
              id="btCalculer"
              color="primary"
              class="mat-raised-button mat-primary"
              ng-reflect-color="primary"
              (click)="calculer($event)"
            >
              Calculer
            </button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</p-card>
<p-overlayPanel
  #ov
  [dismissable]="false"
  [showCloseIcon]="true"
  appendTo="body"
  [style]="styleOvPanel"
>
  <span> {{ msgs }} </span>
</p-overlayPanel>
