e-grid .e-rowcell.customcss{
    background-color: #ecedee;
    color: 'red';
    font-family: 'Bell MT';
    font-size: 15px;
}

.e-grid .e-headercell.customcss{
    background-color: #2382c3;
    color: white;
    font-family: 'Bell MT';
    font-size: 14px;
}
.e-headertext {
    font-size: 14px;
  }
  .e-grid th{
    background-color:whitesmoke;
    color :black;
}